*{
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
html, body {
  margin: 0;
  padding: 0;
  background-color: #313334;
}
body > svg {
  display: none;
}

body {
  width: 100vw;
  overflow: hidden;
}

.main-container{
  overflow: auto;
  width: 100%;
  position: relative;
  height: 100vh;
  overflow-x: hidden;

  &.nav-open{
    overflow: hidden;
  }
}

@import 'settings/colors';
@import 'settings/type';
@import 'settings/sizes';
@import 'mixins/handy';
@import 'functions/colors';

@import 'components/all';
@import 'layout/all';
