

<section class="about">
  <div class="about__inner">
    <div>
        <h3>Hallo! ik <br>  ben JOANNE </h3>
        <p>
            Mijn passie ligt bij interactie, en dan vooral online. Ik vind het leuk om oplossingen  te creeeren waarmee mensen verder komen. Maatschappelijke projecten spreken mij dan ook erg aan. Maar ook het creeeren van (betere) processen, mediums, platforms, datavisualisaties en playfull interaction passen helemaal in mijn straatje.
          <br><br>
            Mijn kracht ligt bij het bedenken en uitvoeren van oplossingen die doelgericht en gebruiksvriendelijk zijn. Ik kan goed samenwerken, en streef altijd voor een goed eindresultaat.
        </p>
        <h5>Interesses</h5>
        <span>Frontend development, Concept & Design.</span>
        <br><br>
        <a class="btn btn-primary">Download cv</a>
    </div>
    <div>
      <img src="/assets/img/joanne.png" alt="">
    </div>
  </div>
</section>
