

<section class="about">
  <div class="about__inner">
    <div>
        <h3>Hallo!</h3>
        <p class="lead">Mijn passie ligt bij interactie, en dan vooral online. Ik vind het leuk om oplossingen te creëren waarmee mensen verder komen.</p>
        <p>Maatschappelijke projecten spreken mij dan ook erg aan. Maar ook het creëren van (betere) processen, mediums, platforms, datavisualisaties en playfull interaction passen helemaal in mijn straatje.</p>
        <p>Mijn kracht ligt bij het bedenken en uitvoeren van oplossingen die doelgericht en gebruiksvriendelijk zijn. Ik kan goed samenwerken, en streef altijd voor een goed eindresultaat.</p>
        <br>
        <h5>Interesses</h5>
        <span>Frontend development, Concept & Design.</span>
        <br><br>
        <a href="./assets/img/CV - Joanne Onis - 2017.pdf" download class="btn btn-primary">Download cv</a>
    </div>
    <div>
      <img src="/assets/img/joanne.png" alt="">
    </div>
  </div>
</section>
