
.about {
  background-color: color(primary, 500);
  width: 100%;
  display: block;
  height: 100vh;
}

.about__inner {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  align-items: center;
  padding: 0 30px;
  background-image: url('/assets/img/work/bg-uncover-2.png');
  background-size: cover;
  color: white;

  h3 {
    line-height: 1;
  }
  span {
    font-weight: 300;
    font-size: 1.1em;
  }

  .lead {
    font-size: 1.3em;
    font-weight: 400;
  }

  & > div:nth-child(1) {
    padding-left: 5vw;
    padding-right: 50px;

    p {
      max-width: 600px;
    }
  }

  &> div:nth-child(2) {
    margin-right: 15vw;

    &:after {
      content: "";
      @include abs(0,0,0,auto);
      width: 32vw;
      background: color(primary, 500);
    }
    img {
      width: 30vw;
      position: relative;
      z-index: 2;
    }
  }
}





