
.owl-carousel .owl-item img{
  width: auto;
}

@keyframes loader {
  from {stroke-dashoffset: 0;}
  to {stroke-dashoffset: -125;}
}

.cus-owl-nav{
  @include abs(0,auto,50px,20px);
  margin: auto;
  z-index: 20;
  height: 5em;
  width: 3em;
  text-align: center;

  .svg-inline--fa{
    position: absolute;
    top: 19px;
    left: 20px;
    font-size: 0.8em;
  }
}

.cus-owl-nav-next {
  right: 20px;
  left: auto;

  circle:nth-child(2) {
    stroke-dasharray: 125;
    stroke-dashoffset: -170; // goes til -250
    transform: rotate(-90deg);
    transform-origin: center;
    animation: loader 10s cubic-bezier(0.51, 0.31, 0.51, 0.74) infinite;
  }
}

