
.owl-carousel .owl-item img{
  width: auto;
}

@keyframes loader {
  from {stroke-dashoffset: 0;}
  to {stroke-dashoffset: -125;}
}

.cus-owl-nav{
  @include abs(0,auto,50px,$main-sides);
  margin: auto;
  z-index: 20;
  height: 5em;
  width: 3em;
  text-align: center;

  @include bp(600px, max){
      left: $main-sides-xs;
  }

  .svg-inline--fa{
    position: absolute;
    top: 19px;
    left: 20px;
    font-size: 0.8em;
  }

  circle:nth-child(2) {
    stroke-dasharray: 125;
    stroke-dashoffset: -125; // goes til -250
    transform: rotate(-90deg);
    transform-origin: center;
    transition: stroke-dashoffset .15s;
  }

  &:hover circle:nth-child(2){
    stroke-dashoffset: 0;
  }
}

.cus-owl-nav-next {
  right: $main-sides;
  left: auto;

  @include bp(600px, max){
    right: $main-sides-xs;
}

  circle:nth-child(2) {
    // animation: loader 10s cubic-bezier(0.51, 0.31, 0.51, 0.74) infinite;
  }
}

