
.project-banner{
  background-color: color(primary, 500);
  color: white;
  padding: 30px 20px;

  &__inner{
    max-width: 850px;
    margin: auto;
    overflow: hidden;
    text-align: center;

    @include bp(1280px){
    }
  }

  span{
    font-family: $body-font;
    font-size: 15px;
    color: #FFFFFF;
    letter-spacing: 1.86px;
    text-transform: uppercase;
    margin-right: 15px;

    @include bp(450px, max){
      width: 100%;
      display: inline-block;
      margin-bottom: 10px;
    }
  }
}
