
.project-content{
  padding-top: 40px;

  @include bp(600px, max){
    padding: 30px;
  }
  img{
    width: 100%;
    height: auto;
  }

  p {
    @include bp(600px){
      max-width: calc(640px + 30vw);
      margin: auto;
      overflow: hidden;
      padding-left: 30vw;
    }

    @include bp(1280px){
      max-width: calc(640px + 15vw);
      padding-left: 15vw;
    }
  }

  figure {
    margin: 40px 0;

    @include bp(600px, max){
      margin: 30px -30px;
    }
  }

  &__inner{

  }

}

caption {
  width: 100vw;
  text-align: left;
  padding: 8px 0px 0 15px;

  @include bp(600px){
    position: absolute;
  }

  strong{
    @extend h5;
    font-size: .9em;
    display: block;
    font-weight: 600;
  }
  span {
    display: block;
    font-size: .9em;
    opacity: .7;
  }
}
