
.project-content{
  background: white;
  color: black;
  padding-top: 5em;

  &__inner {
    overflow: hidden;
    max-width: 850px;
    margin: auto;
    text-align: center;
    padding-bottom: 5em;

    @include padding-text;
  }

  .project-meta{
    text-align: left;
  }


  .project-meta div > div {
    float: none;
  }

  .project-meta__inner {
      display: flex;
      justify-content: space-around;
      font-size: 1.1em;
  }

  .project-meta div > div:last-of-type{
    padding: 0;
  }

h3.h5 {
    font-weight: 600;
}

.project-meta span {
    font-weight: 500;
    opacity: .7;
}

figure {
  margin: 0;
}
}
