
.header {
  background: color(primary, 500);
  padding: 60px 30px;
  padding-top: 230px;

  &__inner{
  }

  &:after {
    content: "";
    clear: both;
    display: table;
  }

  .project-meta {
    max-width: calc(640px + 30vw);
    margin: auto;
    overflow: hidden;
    padding-left: 30vw;

    @include bp(1280px){
      max-width: calc(640px + 15vw);
      padding-left: 15vw;
    }

    &__inner{
      display: flex;

      & > div{
        float: none;
      }
    }
  }
}

.header-img {
  position: absolute;
  width: 25vw;
  left: 4vw;
  margin-top: -7vw;
  text-align: right;
  padding-right: 15px;

  @include bp(1280px){
    left: 8vw;
  }

  img {
    max-width: 600px;
    width: 100%;
    height: auto;
  }
}
