
.header{
  position: relative;
  padding: 100px 50px 0 50px;
  margin-bottom: 10vh;

  @include bp(775px){ margin-bottom: 20vh;}

  &__text{
    @include abs(0);
    overflow: hidden;

    span {
      @extend %image-bg;
      display: block;
      bottom: -3vh;
      top: auto;
      text-transform: uppercase;

      @include bp(775px){ bottom: -6vh;}
    }
  }

  &-img{
    max-width: 50vw;
    margin: auto;
    z-index: 2;
    position: relative;

    img {
      width: 100%;
      margin-bottom: -10vh;
      @include bp(775px){ margin-bottom: -20vh;}
    }
  }
}
