
.project-tech__inner {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
  text-align: center;

  @include bp(700px){
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.project-tech__img img {
  width: 100%;
  height: auto;
}

.project-tech__img {
  max-width: 110px;
}

.project-tech {
  padding: 40px 0;
}

.project-tech__inner span {
  text-transform: uppercase;
  color: #ababab;
  letter-spacing: 0.1px;
  margin-right: 10px;

  @include bp(700px, max){
    margin-bottom: 1em;
    display: inline-block;
    margin-right: 0;
  }
}

.tech_images{
  display: flex;
  align-items: center;
  justify-content: center;
}
