
@mixin padding-text {
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: 765px){
    padding-left: 2em;
    padding-right: 2em;
  }
}


@import 'nav/logo';
@import 'nav/nav-toggle';
@import 'nav/menu-overlay';

@import 'home/project';

// @import 'detail/header';
// @import 'detail/content';
// @import 'detail/slider';
// @import 'detail/banner';
// @import 'detail/pagination';

@import 'detail/header';
@import 'detail/content';
@import 'detail/intro';
@import 'detail/image';
@import 'detail/text';
@import 'detail/pagination';
@import 'detail/img-wall';
@import 'detail/banner';

@import 'about/about';

