
.animation-block-white{
  background-color: white;
  height: 0vh;
  position: absolute;
  z-index: 20;
  width: 100%;
}

.animation-block {
  background: #2C527B;
  height: 0vh;
  position: absolute;
  z-index: 60;
  width: 100%;
}
