
$heading-font: 'baron_neuebold', serif;
$body-font: 'Lato', sans-serif;

$heading-font-black: 'baron_neueblack', serif;
$heading-font-black-i: 'baron_neueblack_italic', serif;

$heading-font-bold: 'baron_neuebold', serif;
$heading-font-bold-i: 'baron_neue_bold_italicBdIt', serif;

$heading-font-regular: 'baron_neueregular', serif;
$heading-font-regular-i: 'baron_neue_italicitalic', serif;
