<!-- <owl-carousel
     [options]="carouselOptions"
     [items]="projects"
     id="owlcontainer"
     [carouselClasses]="['owl-theme', 'row', 'sliding']" #owlElement>

 </owl-carousel>

 <div class="cus-owl-nav cus-owl-nav-prev" (click)="prev()">
  <svg height="50" width="50">
    <circle cx="25" cy="25" r="20" stroke="rgba(255,255,255, .24)" stroke-width="2" fill="transparent" />
  </svg>
  <i class="fas fa-long-arrow-alt-left"></i>
 </div>

 <div class="cus-owl-nav cus-owl-nav-next" (click)="next()">
  <svg height="50" width="50">
    <circle cx="25" cy="25" r="20" stroke="rgba(255,255,255, .24)" stroke-width="2" fill="transparent" />
    <circle cx="25" cy="25" r="20" stroke="white" stroke-width="2" fill="transparent" />
  </svg>
  <i class="fas fa-long-arrow-alt-right"></i>
 </div>
 -->

 <div class="cus-owl-nav cus-owl-nav-prev" (click)="prevSlide()">
    <svg height="50" width="50">
      <circle cx="25" cy="25" r="20" stroke="rgba(255,255,255, .24)" stroke-width="2" fill="transparent" />
    </svg>
    <i class="fas fa-long-arrow-alt-left"></i>
   </div>

   <div class="cus-owl-nav cus-owl-nav-next" (click)="nextSlide()">
    <svg height="50" width="50">
      <circle cx="25" cy="25" r="20" stroke="rgba(255,255,255, .24)" stroke-width="2" fill="transparent" />
      <circle cx="25" cy="25" r="20" stroke="white" stroke-width="2" fill="transparent" />
    </svg>
    <i class="fas fa-long-arrow-alt-right"></i>
   </div>

<div [class.detail-open]="detailOpen">
    <owl-carousel
    [options]="carouselOptions"
    [items]="projects"
    id="owlcontainer"
    [carouselClasses]="['owl-theme', 'row', 'sliding']" #owlElement>
    <!-- [hidden]="slideActive != i" -->
 <div class="project"  *ngFor="let image of projects; let i = index" [attr.data-bg]="image?.title">
  <!-- <div class="project-bg" [ngStyle]="{'background-image': 'url('+image.bg+')'}" ></div> -->
  <!-- <img class="project-img" [src]="image.img" alt=""> -->

  <div class="project-header">
      <div class="animation-block-white"></div>
      <div [style.background]="activeProject.project?.color" class="animation-block"></div>
      <h1 [style.color]="activeProject.project?.colorSecondary" class="mock-title"><span>{{image?.title}}</span></h1>
     <h1>{{image?.title}}</h1>
     <img class="project-img" [src]="image.img" alt="">
 </div>

    <!-- <div class="thumbnail-image" [ngStyle]="{'background': 'url() no-repeat scroll center center / 80px 80px'}"></div> -->
   <div class="project-meta">
     <h2 class="h4">{{image.title}}</h2>
     <div class="project-meta__inner">
         <div>
           <h3 class="h5">Company</h3>
           <span>{{image.company}}</span>
         </div>
         <div>
           <h3 class="h5">Role</h3>
           <span>{{image.role}}</span>
         </div>
         <div>
           <h3 class="h5">Client</h3>
           <span>{{image.client}}</span>
         </div>
         <div>
           <a (click)="openProject(image.title)" class="btn btn-primary">bekijk project</a>
           <!-- [routerLink]="'/projects/'+image.title" (click)="openProject(image.title)" -->
         </div>
     </div>
   </div>
 </div>
</owl-carousel>
</div>

 <app-detail (paginated)="paginated($event)" [class.open]="detailOpen" *ngIf="detailOpen" [openProject]="activeProject"></app-detail>
