
.tilt-effect{
  transform-style: preserve-3d;
}

.tilt-effect img{
  transform: translateZ(20px);
}

.tilt-effect h1{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  transform: translateZ(-250px);
  font-size: 21vw;
  color: #262C75;


  font-family: "baron_neueblack", serif;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  display: inline-block;
  font-size: 20vw;
  height: 20vw;
  text-align: center;
  color: #262C75;
  z-index: 0;
  letter-spacing: -1.07vw;
}

.tilt-effect {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.detail-open .tilt-effect{
  z-index: 10;
}

.project:after, .header-img:after{
  display: none;
}

.project{
  background-image: url(/assets/img/work/bg-uncover-2.png);
}

.project-meta{
  z-index: 2;
}

.project {
  transform: translate3d(0, 0px, 0px);
}

/* testing */
.project {
    position: absolute;
    top: 0;
    z-index: 10;
    height: 100vh;
    width: 100vw;
}

app-detail {
    position: absolute;
    top: 100vh;
    z-index: 20;
}

.detail-open{
  position: absolute;
  top:0;
  right:0;
  left:0;
  bottom:0;
  overflow: hidden;
}

.tilt-effect h1 {
    z-index: 10;
    transform: none;
}

.tilt-effect img {
    z-index: 60;
}

@keyframes animation-block {
  0% { height: 10vh; top: -10vh;}
  30% { height: 60vh;}
  100% {height: 10vh;  top: 100vh;}
}

@keyframes animation-block-out {
  0% { top: 0; height: 0;}
  100% {height: 60vh;  top: 0;}
}

@keyframes clip {
  0% { -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);}
  12% { -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); }
  60% { -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); }
  80% { -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%); }
  100% { -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%); }
}

@keyframes clip-out {
  0% { -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);}
  55% { -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);}
  85% { -webkit-clip-path: polygon(0 77%, 100% 77%, 100% 0, 0 0); }
  100% { -webkit-clip-path: polygon(0 77%, 100% 77%, 100% 0, 0 0); }
}


@keyframes animation-block-white {
  0% { height: 0vh;}
  30% { height: 59vh;}
  100% {height: 100vh;}
}

@keyframes animation-block-white-out {
  0% { height: 100vh; top: 0;}
  100% {height: 60vh; top: 60vh;}
}

.tilt-effect h1.mock-title {
    z-index: 60;
    transform: none;
    color: #1B4374;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

.detail-open .tilt-effect h1.mock-title{
  animation: clip 696.935ms ease 223.1805ms 1, clip-out 1.5s 750.1155ms ease-out;
  animation-fill-mode: forwards;
}

.tilt-effect h1.mock-title span {
    /* top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    display: inline-block;
    height: 1em; */
}


.animation-block-white{
    background-color: white;
    height: 0vh;
    position: absolute;
    z-index: 20;
    width: 100%;
}

.detail-open .animation-block-white{
  animation: animation-block-white 1s 1 ease-in, animation-block-white-out 1s 1s 1 ease-out;
  animation-fill-mode: forwards;
}

.animation-block {
    background: #2C527B;
    height: 0vh;
    position: absolute;
    z-index: 60;
    width: 100%;
}

.detail-open .animation-block{
  animation: animation-block 1s 1 ease-in, animation-block-out 1s 1s ease-out;
  animation-fill-mode: forwards;
}

app-detail{
    height: 0;
    overflow: hidden;
}

/* @keyframes open{
  0% { height: 0; overflow: hidden;}
  100% { height: auto; overflow: visible;}
} */

.open{
   height: auto;
   overflow: visible;
}
