<owl-carousel
     [options]="{items: 1, dots: false, navigation: false}"
     [items]="images"
     [carouselClasses]="['owl-theme', 'row', 'sliding']">
     <div class="project" *ngFor="let image of images;let i = index" [attr.data-bg]="image.title">
       <div class="project-bg" [ngStyle]="{'background-image': 'url('+image.bg+')'}" ></div>
       <img class="project-img" [src]="image.img" alt="">
         <!-- <div class="thumbnail-image" [ngStyle]="{'background': 'url() no-repeat scroll center center / 80px 80px'}"></div> -->
        <div class="project-meta">
          <h2>{{image.title}}</h2>
          <div class="project-meta__inner">
            <div>
                <h3>Company</h3>
                <span>{{image.company}}</span>
              </div>
              <div>
                <h3>Role</h3>
                <span>{{image.role}}</span>
              </div>
              <div>
                <h3>Client</h3>
                <span>{{image.client}}</span>
                {{image.role}}
              </div>
          </div>
        </div>
      </div>
 </owl-carousel>
