<owl-carousel
     [options]="carouselOptions"
     [items]="images"
     id="owlcontainer"
     [carouselClasses]="['owl-theme', 'row', 'sliding']" #owlElement>
     <div class="project" *ngFor="let image of images;let i = index" [attr.data-bg]="image.title">
       <div class="project-bg" [ngStyle]="{'background-image': 'url('+image.bg+')'}" ></div>
       <img class="project-img" [src]="image.img" alt="">
         <!-- <div class="thumbnail-image" [ngStyle]="{'background': 'url() no-repeat scroll center center / 80px 80px'}"></div> -->
        <div class="project-meta">
          <h2 class="h4">{{image.title}}</h2>
          <div class="project-meta__inner">
              <div>
                <h3 class="h5">Company</h3>
                <span>{{image.company}}</span>
              </div>
              <div>
                <h3 class="h5">Role</h3>
                <span>{{image.role}}</span>
              </div>
              <div>
                <h3 class="h5">Client</h3>
                <span>{{image.client}}</span>
              </div>
              <div>
                <a class="btn btn-primary">bekijk project</a>
              </div>
          </div>
        </div>
      </div>
 </owl-carousel>

 <div class="cus-owl-nav cus-owl-nav-prev" (click)="prev()">
  <svg height="50" width="50">
    <circle cx="25" cy="25" r="20" stroke="rgba(255,255,255, .24)" stroke-width="2" fill="transparent" />
  </svg>
  <i class="fas fa-long-arrow-alt-left"></i>
 </div>

 <div class="cus-owl-nav cus-owl-nav-next" (click)="next()">
  <svg height="50" width="50">
    <circle cx="25" cy="25" r="20" stroke="rgba(255,255,255, .24)" stroke-width="2" fill="transparent" />
    <circle cx="25" cy="25" r="20" stroke="white" stroke-width="2" fill="transparent" />
  </svg>
  <i class="fas fa-long-arrow-alt-right"></i>
 </div>

